/*
 * Generalitat de Catalunya
 * Departament d'Interior
 * 2022
 *
 * Author: Gabriel Franco
 *
*/

/* Mida del logo al nav */
img.logo-icon {
    width: 200px;
}

/* Formularis */
.acces-form .form-control {
    border: none;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
.form-control input {
    width: 100%;
}
.form-control label {
    font-weight: 600;
}
.error-message {
    font-size: 13px;
    color: rgb(218, 9, 9);
}

/* Buttons */
.btn-circle {
    border-radius: 100% !important;
    width: 50px;
    height: 50px;
    padding: 15px !important;
    font-size: 20px;
}

/* Docs section */
.docs-section .badge {
    font-size: 16px;
}

/* Gestió procediments */
.fila-procediment {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.procediments-botons .btn {
    font-size: 13px;
    padding: 2px;
    padding-left: 6px;
    padding-right: 6px;
}
.nou-procediment .btn {
    width: 100%;
    font-size: 14px;
    padding: 6px;
    padding-left: 10px;
    padding-right: 10px;
}

/* Textarea de HTML */
textarea {
    font-family: 'Consolas', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
